<!DOCTYPE html>
<html>
<head>
  <title>soft</title>
  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!--[if lte IE 7]>
    <%= stylesheet_link_tag "application-ie7", :media => "all" %>
<![endif]-->
  <!--[if lte IE 9]>
    <%= stylesheet_link_tag "application-ie9", :media => "all" %>
<![endif]-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <LINK REL="SHORTCUT ICON" HREF="http://localhost:3000/assets/title-icon.ico" />
</head>
<body>

<%= yield %>

</body>
</html>